header{
  background: white;
}
.mdl-layout__header{
  background: white;
  color: black;
}
.mdl-layout__drawer-button{
  color: #7e5b50 !important;
  vertical-align: middle !important;
}
body{
  background: #ebebeb;
}
#login{

  background: white;
  padding: 20px 50px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 70px;
  border-radius: 10px;
}
.mdl-button--raised, .mdl-button--colored {
    background:#7e5b50 !important;
    color: white !important;
}

#actions{
  /* margin:0 auto; */
  width: auto;
  /* display: table; */
}
.mdl-layout__tab-bar-container, .mdl-layout__tab-bar,  .mdl-layout__tab-bar-button,  .mdl-layout__tab{
  background: #7e5b50 !important;
  color: white !important;
}
.right{
  float: right;
  color: #008000;
}
#content{
  display: none;
}
#placeholder{
  margin-top: calc(50vh - 150px);
}
.mdl-layout__drawer-button .material-icons{
  margin-top: 10px;
}
#logo_img{
  display: none;
}
.product{
  background-color: white !important;
  cursor: pointer;
  height: 200px;
  border-radius: 2px;
  display: flex;
  position: relative;
  margin: 2px !important;
  display: inline-grid;
   /* box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
  width: 200px;
  /* padding: 10px; */
}
.productName{
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  position: absolute;
  bottom:0;
  height: 30px;
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 0px 0 2  px 2px;
  padding-top: 5px;
  user-select: none;
}
.button_cont{
  /* background: #008000; */
  display: inline-block;;
  border-radius: 50%;
  height:30px;
  width:30px;
  margin-right:10px;
}
.green{
  background: #008000;
}
.red{
  background: red;
}
#bestelling{
  padding: 20px;

}
.is-active{
  /* border-bottom: 1px solid white !important; */
}
#popup{
    width: 80vw;
      margin: 0 auto;
      background: white;
      border-radius: 3px;
      position: fixed;
      display: none;
      z-index: 1;
      top: 50vh;
      left: 10vw;
      height: 50px;
      box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
      background: #a4c8a4;
      text-align: center;
      padding: 10px 10px;
      box-sizing: border-box;
      display: flex;
}
.popup{
  display: none;
  position: fixed;
  display: none;
  z-index: 1;
  top: calc(50vh - 150px);
  left: 0;
  height: 100%;
  width: 100%;
  top:0;

}
/* PHONE USERS */
@media screen and (min-width: 1000px){
main {
    background: Url('assets/group.jpg') center / cover;
    background: #ebebeb;
}
.popup{
  left: 10vw;
  width: 500px;
  height: 500px;
  top: 10vw;
}

}
@media screen and (max-width: 1000px){
#bestelling{
    width: 100%;
    padding: 3.5vw;
    /* margin: 0 auto; */
}

.product{
  width:45vw;
  height: 45vw;
  margin:0 !important;
  margin: 0.5vw !important;

}
h5{
  margin:5px;
}
.mdl-layout__tab-bar{
  padding:0;
  margin: 0 auto;
}
}

/* PICS */
.demo-card-square > .mdl-card__title {
  color: #615555;
  background-size: 60% !important;

}

.aantal{
  width: 50px;
  padding-top: 0;

}
.up, .down{
  cursor: pointer;
  vertical-align: middle;
}
#aantal{
  font-size: 20px;
  text-align: center;
}
#back{
  display: none;
  position: fixed;
  left: 15px;
  top: 120px;
  z-index: 6;
  background: white;
}
.mdl-card__title{
  height: calc(100% - 80px);
}
.mdl-card__actions{
  height: 80px;
  padding-top: 15px;
}
.buttons{
  margin-top: 7px;
}
.mdl-button--mini-fab{
  margin: 2px;
  font-size: 15px;
  background: white;
}
.actions_left{
  float: left;
  margin-top: 5px;
  /* margin-bottom: 10px; */
  margin-left: 20px;
}
#bierP{
  background-size: 40% !important;
}
#Fris, #FrisP{background: url('https://images-na.ssl-images-amazon.com/images/I/511rL-aYd9L._SX385_.jpg') no-repeat center / 80%;}
#icetea{background: url('https://www.horescasmulders.nl/img/products/large/7210051_02.jpg') center / cover; }
#Bier, #BierP{background: url('https://www.horecasupport.nl/admin_assets/beers/beers_visuals/5-beer.jpg?181231153248')  no-repeat center / 40%; }
#fanta{background: url('http://www.destage.com/wp-content/uploads/2014/03/Fanta-Orange-24x20-cl.jpg') center / cover; }
#cassis{background: url('https://www.opisopvoordeelshop.nl/media/catalog/product/cache/image/700x660/e9c3970ab036de70892d86c6d221abfe/2/9/29612_1_1.png') center / cover; }
#appelsap{background: url('https://s3-eu-west-1.amazonaws.com/questionmark-productinfo/images/medium/f4abb74b55c08dd3a21094bcc1b369ff.jpg') center / cover; }
#sinas{background: url('https://s3-eu-west-1.amazonaws.com/questionmark-productinfo/images/medium/3b67488b88e9a47c5deb867a21603193.jpg') center / cover; }
#Wijn, #WijnP{background: url('https://rozemaverhuur.nl/wp-content/uploads/Doos-6st.-rode-wijn-075-ltr-_-Angelo-Nero-d-Avola.jpg') no-repeat center / 80%; }
#Frituur_050, #Frituur_050P{background: url('https://www.hollandsnackexpress.com/image/cache/catalog/snacks/kroket-200x200.png') no-repeat center / 80%; }
#Frituur_150, #Frituur_150P{background: url('https://dq5r178u4t83b.cloudfront.net/wp-content/uploads/sites/48/2018/02/01143056/Bitterbal.jpg') no-repeat center / 80%;}
#Frituur_200, #Frituur_200P{background: url('https://ntf.blob.core.windows.net/pictures/2-635949347615548202.jpg') no-repeat center / 80%; }
#Chips, #ChipsP{background: url('http://www.pngpix.com/wp-content/uploads/2016/07/PNGPIX-COM-Lays-Potato-Chips-PNG-Transparent-Image-500x676.png') no-repeat center / 60%; }
#bifi{background: url('https://www.kantinewinkel.nl/images/P/bifi%20xxl.jpg') center / cover; }
#Chocola{background: url('https://jlbrooks.co.uk/media/catalog/product/cache/1/image/800x800/9df78eab33525d08d6e5fb8d27136e95/m/i/mix_chocolate.jpg') center / cover; }
#open{background: url('https://maxcdn.icons8.com/Share/icon/Alphabet//question_mark1600.png') center / cover; }
#Speciaal, #SpeciaalP{background: url('https://www.frank.news/images/easyblog_articles/2295/b2ap3_large_Heineken_Brands-cut-1024x545.png') no-repeat center / 80%;}
#Shots{background: url('https://res-2.cloudinary.com/boozeboodcdn/image/upload/e_trim:10/c_pad,g_south,h_455,w_300/c_limit,h_455,w_300/f_auto,q_auto:best/v1/HD/26306.jpg') center / cover;}
